body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

$bnr-width: 300px;
$bnr-height: 250px;
$bnr-white: #fff;
$bnr-red: #cd1925;
$bnr-btn-bg: #0071e3;
$bnr-main-bg: #212121;

.bnr {
  width: $bnr-width;
  height: $bnr-height;
  background: $bnr-main-bg;
  position: relative;
  overflow: hidden;

  &__el {
    position: absolute;
  }

  &__el-0 {
    top: 0;
    right: 20px;
  }

  &__el-1 {
    top: 0;
    right: 0;
  }

  &__el-2 {
    bottom: 15px;
    left: 15px;
  }

  &__el-3 {
    top: 30px;
    left: 15px;
  }

  &__el-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__watch {
    background-image: url("../assets/images/watch.png");
    width: 190px;
    height: 250px;
  }

  &__band {
    background-image: url("../assets/images/band.png");
    width: 150px;
    height: 250px;
  }

  &__btn {
    background-color: $bnr-btn-bg;
    color: $bnr-white;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 18px;
    cursor: pointer;
    padding: 8px 16px;
    text-decoration: none;
    letter-spacing: -0.022em;
    text-align: center;
  }

  &__title {
    font-size: 21px;
    color: $bnr-white;
    width: 75px;
    display: inline-block;
    text-align: center;
    line-height: 1.17648;
    text-transform: capitalize;

    &-red {
      color: $bnr-red;
    }
  }
}
