@import './var.scss';

.rmwk-element-position-absolute {
  position: absolute;
  z-index: 2;
}

.rmwk-banner {
  width: $rmwk-width;
  height: $rmwk-height;
  background: $rmwk-main-background;
  position: relative;
  overflow: hidden;
  z-index: 0;

  &__background-img {
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
  }

  &__title {
    @extend .rmwk-element-position-absolute;
    color: $rmwk-white;
    top: 25px;
    left: 25px;
    font-weight: 600;
    font-size: 28px;
    width: 240px;

    animation: 1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.5s 1 normal both running
      rmwk-banner-title;
  }

  &__description {
    @extend .rmwk-element-position-absolute;
    color: $rmwk-green;
    bottom: 25px;
    left: 25px;
    font-weight: 600;
    font-size: 24px;

    animation: 1s cubic-bezier(0.25, 0.1, 0.25, 1) 1s 1 normal both running
      rmwk-banner-description;
  }

  &__button {
    @extend .rmwk-element-position-absolute;
    background-color: $rmwk-green;
    bottom: 15px;
    right: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    animation: 1s cubic-bezier(0.25, 0.1, 0.25, 1) 1s 1 normal both running
      rmwk-banner-button;

    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border-top: 3px solid $rmwk-white;
      border-right: 3px solid $rmwk-white;
      // It can be easy than this!
      transform: rotate(45deg) translateX(-1px) translateY(1px);
    }
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: $rmwk-transparent-background-color;
  }

  &:hover:after {
    background-color: $rmwk-transparent-background-color-hover;
  }
}

@keyframes rmwk-banner-title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rmwk-banner-description {
  from {
    transform: translateX(-170px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes rmwk-banner-button {
  from {
    transform: translateX(90px);
  }
  to {
    transform: translateX(0);
  }
}
