$rmwk-width: 300px;
$rmwk-height: 250px;
$rmwk-white: #fff;
$rmwk-green: #1dd3b0;
$rmwk-main-background: #212121;
$rmwk-transparent-background-color: rgba(67, 97, 238, 0.6); 
$rmwk-transparent-background-color-hover: rgba(67, 97, 238, 0.66);
$rmwk-animation-speed: 2s;
